body {
  min-height: 100vh;
  min-height: 100hv;
}

html {
  height: auto;
}

main {
  display: flex;
  flex-wrap: nowrap;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

/* Default state for link items */
.btn-toggle-nav li a {
  position: relative;
  padding-left: 20px; /* Adjust based on your design */
}

.btn-toggle-nav li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px; /* Width of the line */
  background-color: rgb(165, 160, 160); /* Default line color */
}

/* Active state */
.btn-toggle-nav li a.active::before {
  background-color: purple; /* Active line color */
  width: 4px;
}




.card-header .show-on-hover {
  visibility: hidden; /* Hide the button by default */
}

.card-header:hover .show-on-hover {
  visibility: visible; /* Show the button when the parent is hovered */
}



.legend {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.legend h4 {
  margin-top: 0;
}

.legend-item {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.legend-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%; /* Makes the div circular */
  margin-right: 5px;
}

#mynetwork {
  width: 100%; /* Full width */
  height: 50vh; /* 50% of the viewport height */
}


.kanban-column {
  min-height: 400px;
}
.kanban-card {
  border: none;
  border-left: 3px solid #007bff;
}
.kanban-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 2px solid #e0e0e0;
}
.kanban-board {
  margin-top: 20px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}
.kanban-column {
  flex: 0 0 auto;
  width: 300px;
  background-color: #fff;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

