<div class="d-none d-lg-block d-flex flex-column flex-shrink-0 p-3 col-1=2">
    <ul class="list-unstyled ps-0">
      

      {{- if .Site.Taxonomies.tags }}
      
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#tags-collapse" aria-expanded="true">
          Tags
        </button>
        <div class="collapse show" id="tags-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {{$cLink := .RelPermalink}}
            {{- range .Site.Taxonomies.tags.Alphabetical }}
            <li><a href="{{ .Page.RelPermalink }}" class="link-dark rounded{{ if eq .Page.RelPermalink $cLink }} active{{ end }}">{{- .Page.LinkTitle -}}</a></li>
            {{- end }}
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      {{- end }}
    </ul>
  </div>